.footer-page__copyright {
  width: 50.60422960725075%;
  /* 335/662 */
  margin: auto;
  text-transform: uppercase;
  color: #a5a5a5;
  font-size: .8125rem;
  /* 13px */
  letter-spacing: 2px;
  line-height: 1.25rem;
  /* 20px */
}
.copyright {
  text-transform: uppercase;
  color: #a5a5a5;
  font-size: .8125rem;
  /* 13px */
  letter-spacing: 2px;
  line-height: 1.25rem;
  /* 20px */
}
