.intro {
	padding: 115px 0 112px;

	background: #ffdbc5 url("../img/bg_intro.jpg") no-repeat;
	background-size: cover;

	&__img-box {
		float: left;

		width: 49px;
		height: 49px;
		border: 1px solid #dc5227;

		border-radius: 50%;
	}

	&__ill {
		max-width: 100%;

		border-radius: 50%;
	}
}

.intro__text {
	position: relative;

	float: right;

	width: 80.81570996978851%; /* 595/662-paddings */
	padding: 15px 0;
	padding-right: 4.531722054380665%; /* 30/662 */
	padding-left: 4.531722054380665%; /* 30/662 */
	border: 1px solid #dc5227;

	color: #e85f37;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: inset 0 -4px #ffcfbc;

	font-size: .8125rem; /* 13px */
	font-weight: 700;
	line-height: 1rem; /* 16px */

	letter-spacing: 1px;
	text-transform: uppercase;

	/* Треугольник для intro__text */

	&:before {
		content: "";

		position: absolute;
		top: 10px;
		left: -10px;

		border-width: 11px 10px 11px 0;

		border-style: solid;
		border-color: transparent #dc5227;
	}
	&:after {
		content: "";

		position: absolute;
		top: 12px;
		left: -9px;

		border-width: 9px 9px 9px 0;

		border-style: solid;
		border-color: transparent #fff;
	}
}
