@font-face {
  font-family: "fontello";
  font-weight: normal;
  font-style: normal;
  src: url("../../font/fontello.eot?26931923");
  src: url("../../font/fontello.eot?26931923#iefix") format("embedded-opentype"), url("../../font/fontello.woff?26931923") format("woff"), url("../../font/fontello.ttf?26931923") format("truetype"), url("../../font/fontello.svg?26931923#fontello") format("svg");
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontello";
    src: url("../font/fontello.svg?26931923#fontello") format("svg");
  }
}
*/
[class^="icon-font"]:before,
[class*=" icon-font"]:before {
  font-family: "fontello";
  font-weight: normal;
  font-style: normal;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  display: inline-block;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  speak: none;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-font--left-big:before {
  content: "\e800";
}
/* "" */
.icon-font--right-big:before {
  content: "\e801";
}
/* "" */
.icon-font--paper-plane:before {
  content: "\e802";
}
/* "" */
.icon-font--twitter:before {
  content: "\e803";
}
/* "" */
.icon-font--dribbble:before {
  content: "\e804";
}
/* "" */
.icon-font--behance:before {
  content: "\e805";
}
